Source: libfork
Section: x11
Priority: optional
Maintainer: Michal Maruska <mmaruska@gmail.com>
Build-Depends: debhelper (>= 5), libx11-dev (>= 1.8.1-1-maruska), fork-plugin, pkg-config, cmake, ninja-build, xserver-xorg-dev
Standards-Version: 3.7.2

Package: libfork
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libx11-6 (>= 2:1.5.0-1maruska1), fork-plugin
Description: library with calls specific to commanding
 (configuring and getting information) the Fork plugin.
