Source: libfork
Section: x11
Priority: optional
Maintainer: Michal Maruska <mmaruska@gmail.com>
Build-Depends: cdbs, debhelper (>= 5), libx11-dev (= 2:1.3.2-1ubuntu4mmc2), fork-plugin, pkg-config
Standards-Version: 3.7.2

Package: libfork
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libx11-6 (= 2:1.3.2-1ubuntu4mmc2), fork-plugin
Description: library with calls specific to commanding
 (configuring and getting information) the Fork plugin.
 
